testcases/__pycache__/test_release.cpython-313-pytest-8.4.2.pyc
__pycache__/conftest.cpython-313-pytest-8.4.2.pyc
utils/__pycache__/device_detector.cpython-313.pyc
__pycache__/config.cpython-313.pyc
testcases/__pycache__/test_release_home.cpython-313-pytest-8.4.2.pyc
testcases/__pycache__/test_release_home.cpython-313.pyc
testcases/__pycache__/test_release.cpython-313.pyc
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/vcs.xml
.idea/SUPVAN-Automated-Testing.iml
.idea/modules.xml
.idea/misc.xml
.idea
